body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8FD8EC;
    font0-family: 'calibri', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.container {
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
    flex: 0 0 80%;
}

.btn {
    border: none;
    color: #bebebe;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid #bebebe;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #bebebe;
    color: white;
}

#result {
    font-size: 10rem;
    /* color: green; */
}

#msg {
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 10px #88d5e9;
    outline: none;
    border: 3px solid #88d5e9;
}

#lastMsg {
    color: #8ECFDF;
}

#quoteBtn:hover {
    color: #FFd000;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #fcdbbf;
    margin: 1.5rem;
    padding: 0.5rem;
}

#quoteAuthor {
    color: #ffd000;

}